html, body {
	font-size: 14px;
	background: #FFF;
	color: #000;
	margin: 0;
	padding: 0;
	font-family: monaco, Consolas, "Lucida Console", monospace;
}
a {
	color: #000;
}
div, form, aside, nav, main {
	box-sizing: border-box;
}
.visible {
	display: block !important;
}
.hidden {
	display: none;
}
#app {
	position: relative;
	margin: 2rem 1rem;
	min-width: 920px;
	max-width: 1420px;
}
#authenticate {
	width: 400px;
}
#menu, main {
	float: left;
	min-height: 450px;
}
#menu {
	top: -2rem;
	left: 0;
	position: absolute;
	z-index: 1;
	height: 100%;
	margin-right: 40px;
	background: #FFF;
	padding: 1rem;
}
#menu ul {
	padding: 0;
	margin: 8px 0;
}
#menu ul ul {
	margin-left: 15px;
}
#menu li {
	margin-bottom: .5rem;
	display: block;
}
main {
	width: 100%;
	position: absolute;
	margin-bottom: 2rem;
	left: 0;
}
main, header {
	padding-left: 200px;
}
div, nav, main, header, aside {
	box-sizing: border-box;
}
input, textarea, label, button, select{
	padding: .5rem;
	display: block;
	width: 100%;
	background: transparent;
	line-height: 2;
	box-sizing: border-box;
	outline: 0;
	border: 0;
}
button[type=submit], button.submit {
	margin-top: 2rem;
	background: #000;
	color: #FFF;
	position: relative;
}
label small {
	font-style: italic;
	color: #666;
	margin-left: 1.5rem;
}
input, textarea, button, select {
	border: 1px solid;
	outline: none;
}
input:focus, textarea:focus, button:focus, select:focus {
	background: transparent;
	border: 1px solid blue;
	color: #000;
}	
input, textarea {
	font-size: 16px;
}
button {
	width: 200px;
}
textarea {
	height: 300px;
	font-size: 1rem;
	line-height: 1.4rem;
}
label , button{
	font-weight: bold;
	margin: 1rem 0 .5rem;
}

.form-category-name {
	margin: 4rem auto 0 auto;
	color: #AAA;
	font-size: .85rem;
	text-align: center;
}

.action {
	width: 100%;
	border: none;
	padding: 0;
}

main header {
	max-width: 400px;
}

#help-bar {
	position: fixed;
	top: 0;
	right: 0;
}
#help-bar a {
	display: block;
	padding: .5rem;
	opacity: .5;
	font-size: .7rem;
}
#help-bar a:hover {
	opacity: 1;
}


/*release*/

#releases .buy .remove-buy, #releases .more-buy .buy .add-buy{
	display: none;
}

#releases .more-buy .buy .remove-buy {
	display: block;
}

#releases .more-buy .buy {
	margin-top: 1.5rem;
	border-top: 2px solid #FFF;
}

/**/
.clear {
	display: block;
	float: none;
	clear: both;
}
.hidden {
	display: none;
}
#login {
	max-width: 400px;
}

#releases .list, #news .list {
	width: 700px;
}

.list .entry {
	position: relative;
	padding: 0rem 1rem 2.5rem 1rem;
	margin-bottom: 1rem;
	border: 2px solid;
}

.list .entry button.delete {
	position: absolute;
	right: .5rem;
	width: auto;
	color: red;
	font-size: .8rem;
	padding: 0;
	bottom: -.5rem;
	border: none;
}

.list .entry .deletePrompt {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: .8rem;
	background: #000;
	color: #FFF;
	text-align: center;
}
.list .entry .deletePrompt button{
	width: auto;
	padding: .1rem .5rem;
	margin: .5rem 1rem;
	display: inline;
	color: #FFF;
	font-size: .8rem;
}

#main.media .list {
	margin-left: -.33%;
}
#main.media .list .image {
	float: left;
	height: 300px;
	width: 33%;
	min-width: 229px;
	border: 1px solid;
	margin: .33% 0 0 .33%;
	padding: .5rem;
	text-align: center;
	overflow: hidden;
}
#main.media .list .vertical-helper {
	height: 240px;
	vertical-align: middle;
	display: inline-block;
}
#main.media .list .image img {
	vertical-align: middle;
	max-width: 229px;
	height: 170px;
}
#main.media .upload-area {
	position: relative;
	height: 200px;
	width: 100%;
	border: 1px dashed;
	text-align: center;
}
#main.media .upload-area label {
	margin-top:80px;
}
#main.media .upload-area input{
	top: 0;
	left: 0;
	position: absolute;
	display: block;
	opacity: 0.001;
	height: 200px;
}

#main.media #file-upload-form.processing .upload-area{
	animation: .6s infinite processing;
}

@keyframes processing {
	from {
		opacity: .2
	}
	to {
		opacity: 1
	}
}

.form-main {
	width: 65%;
	float: left;
}
.form-sidebar {
	width: 35%;
	padding: 0 1rem;
	float: left;
}

#toast {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 1rem;
	padding: .2rem .8rem;
	font-style: italic;
	border: 3px solid;
	background: rgba(255, 255, 255, 0.55);
	max-width: 340px;
	width: 100%;
}
#toast.FAILED {
	color: red;
}
#toast.SUCCESS {
	color: #3a8000;
}

.modal .modal-wrapper {
	display: none;
	position: fixed;
	background: rgba(0, 0, 0, 0.8);
	z-index: 5;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	left: 0;
	top: 0;
}
.modal .modal-inner {
	position: relative;
	margin: 2rem auto;
	width: 800px;
	padding: 1.5rem;
	background: #FFF;
}
.modal.open .modal-wrapper{
	display: block;
}
.modal .chooseImage .selectedImages input{
	display: none;
}
.modal .chooseImage .image {
	position: relative;
	text-align: center;
	width: 24.33%;
	overflow: hidden;
	float: left;
	margin: 2px;
	padding: 8px;
}
.modal .chooseImage .image img {
	height: 80px;
}
.modal .chooseImage .image .imageOrder {
	display: none;
	position: absolute;
	bottom: 0;
	right: 0;
	background: blue;
	color: #FFF;
	width: 15px;
	padding: 3px;
}
.modal .chooseImage .image.checked .imageOrder {
	display: block;
}
.modal .chooseImage .image:before {
	box-sizing: border-box;
	display: block;
	content: ".";
	text-indent: -99999rem;
	position: absolute;
	background: rgba(0, 0, 255, 0.01);
	border: 2px solid #666;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.modal .chooseImage .image.checked:before {
	border: 4px solid blue;
}
.modal .chooseImage .image .title {
	margin-top: 0;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}