.mde .mde-toolbar {
	background: #000;
}

.mde .mde-toolbar button{
	position: relative;
	margin: 0;
	border: none;
	font-weight: normal;
	font-size: 16px;
	display: inline-block;
	width: 7.5%;
}

.mde .mde-toolbar button {
	color: #FFF;
}

/*.mde .mde-toolbar button:before {
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 100%;
	content: 'H';
	color: #FFF;
}*/