.svmde-container .svmde-toolbar {
	margin: 0;
	padding: 0;
	height: 40px;
	background: #000;
	font-family: monaco, Consolas, "Lucida Console", monospace;
}

.svmde-container .svmde-toolbar li {
	margin: 0;
	padding: 0;
	position: relative;
	border: none;
	font-weight: normal;
	font-size: 16px;
	display: inline-block;
	width: 7.5%;
	color: #FFF;
}

.svmde-container .svmde-toolbar li:before {
	background: red;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
}

.svmde-container .svmde-toolbar li[data-cmd='h1']:before {
	background: blue;
	content: 'H1'
}