.svmde-container {
	position: relative;
}

.svmde-container textarea.svmde-textarea {
	background: #FFF;
	width: 100%;
	height: 300px;
	resize: vertical;
}

.svmde-container .svmde-editor {
	display: none;
}

.svmde-container .svmde-toolbar {
	margin: 0;
	padding: 0;
	height: 40px;
	background: #000;
	font-family: monaco, Consolas, "Lucida Console", monospace;
	display: table;
	width: 100%;
	font-size: 18px;
}

.svmde-container .svmde-toolbar li {
	display: table-cell;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	height: 40px;
	background: inherit;
	position: relative;
	border: none;
	font-weight: normal;
	color: #FFF;
	text-align: center;
	width: 500px;
	cursor: pointer;
	transition: opacity .3s;
}

.svmde-container .svmde-toolbar li.disabled {
	opacity: .5;
	cursor: not-allowed;
}

.svmde-container .svmde-toolbar li:before {
	display: inline;
	width: 100%;
	height: 100%;
}
.svmde-container .svmde-toolbar li:hover {
	background: #333;
}
.svmde-container .svmde-toolbar li[data-cmd='h']:before {
	content: 'H';
	font-size: 14px;
}

.svmde-container .svmde-toolbar li[data-cmd='b']:before {
	content: 'B';
	font-size: 14px;
	font-weight: bold;
}

.svmde-container .svmde-toolbar li[data-cmd='i']:before {
	content: 'I';
	font-size: 14px;
	font-style: italic;
}

.svmde-container .svmde-toolbar li[data-cmd='ul']:before {
	content: '•';
}

.svmde-container .svmde-toolbar li[data-cmd='br']:before {
	content: '↵';
}

.svmde-container .svmde-toolbar li[data-cmd='hr']:before {
	content: '↕';
}