<div id="releases">
	{{> navigation active="users"}}
	<header>
		<h1>Users, New user</h1>
	</header>
	<main class="list">
		{{#ifCond authenticated.role '===' 'admin'}}
			<form method="post">
				<label>Role</label>
				<p>
					<small>
						Role 'User' can't create new users or update other users passwords. <br>
						But role admin can.
					</small>
				</p>
				<select name="role" required>
					<option value="admin">Admin</option>
					<option value="user">User</option>
				</select>

				<label>Username</label>
				<input type="username" name="username" required>
				<label>Password</label>
				<input type="password" name="password" required>
				<button type="submit">Create new user</button>
			</form>
			{{else}}
			<h4>Only administrators can create new users :(</h4>
		{{/ifCond}}
	</main>
</div>