<nav id="menu">
	<ul>
		<li>
			<h4>News</h4>
			<ul>
				<li><a href="/news/">Update</a></li>
			</ul>
			<ul>
				<li><a href="/news/create">Create</a></li>
			</ul>
		</li>
		<li>
			<h4>Releases</h4>
			<ul>
				<li><a href="/releases/">Update</a></li>
			</ul>
			<ul>
				<li><a href="/releases/create">Create</a></li>
			</ul>
		</li>
		<li>
			<h4>Info</h4>
			<ul>
				<li><a href="/info">Update</a></li>
			</ul>
		</li>
		<li>
			<h4>Images</h4>
			<ul>
				<li><a href="/images/upload">Manage uploads</a></li>
			</ul>
		</li>
	</ul>
</nav>