<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>{{title}} - Foul-Up</title>
		<link rel="stylesheet" type="text/css" href="/assets/styles/main.css?rev=1480345535203">
		<script type="text/javascript" src="https://w.soundcloud.com/player/api.js"></script>
		<script type="text/javascript" src="/assets/js/jsonp.min.js"></script>
		<script type="text/javascript" src="/assets/js/foul-up.ui.js?rev=14790511994"></script>
</head>
<body>
	<div id="wrapper">
		<header id="header">
			<div class="inner">
				<div class="title">
					<h1>
						<img src="/assets/images/foul-up-logo--small.png" alt="FOUL-UP" title="FOUL-UP">
					</h1>
				</div>
				<nav id="menu">
					<ul>
						<li class="news {{#ifCond menu.active 'news'}}active{{/ifCond}}">
							<a href="/">News</a>
						</li>
						<li class="releases {{#ifCond menu.active 'releases'}}active{{/ifCond}}">
							<a href="/releases">Releases</a>
						</li>
						<li class="info {{#ifCond menu.active 'info'}}active{{/ifCond}}">
							<a href="/info">Info</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		{{{content}}}
	<script type="text/javascript" src="/assets/js/foul-up.ui.js"></script>
</body>
</html>