{{> helpbar}}
<div id="news">
	{{> navigation active="news"}}
	<header>
		<h1>{{title}}</h1>
	</header>	
	<main class="create">
		<form method="post">

			<label>Title</label>
			<input name="title" type="text" value="{{data.title}}" required>
			
			{{> imagePicker data}}

			<br>

			<label>Content</label>
			<textarea class="svmde" name="contentMarkdown">{{data.contentMarkdown}}</textarea>
			
			<label>Notes <small>(sidebar)</small></label>
			<textarea class="svmde" name="notesMarkdown">{{data.notesMarkdown}}</textarea>

			<br>
			<button type="submit">Post</button>
		</form>
	</main>
</div>